{% extends "_layout.html" %} {% block title %} {% endblock %}{% block header %}
{% endblock %} {% block content %}
<div class="jumbotron">
  <div>
    <h1 class="display-1">Welcome to Survey!</h1>
    <p>
      Create your own survey for your students now!
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="" role="button"
        >Sign In &raquo;</a
      >
    </p>
    <p>
      <a class="btn btn-primary btn-lg" href="" role="button"
        >Sign Up &raquo;</a
      >
    </p>
  </div>
</div>
{% endblock %}
