<h1>Creat a new survey</h1>
​
<form id="survey_form" action="{{url_for('surveys.create')}}" method="POST">
  Survey Topic <br />
  <div class="dropdown">
    <select name="topic">
      <option value="Mathematics">Mathematics</option>
      <option value="History">History</option>
      <option value="Geography">Geography</option>
      <option value="Science">Science</option>
      <option value="Language">Language</option>
    </select>
    <div></div>
  </div>
  <div id="duplicater">
    Question:
    <input type="text" name="Question_1" placeholder="Type here.." />
    Correct answer:
    <input type="text" name="Answer_1" placeholder="Type here.." />
    ​
    <button type="submit">SUBMIT</button><br />
  </div>
</form>
​
<button onclick="addQuestion()">Add Question</button>
​ ​
<script>
  function addQuestion() {
    question = document.getElementById("duplicater");
    clone = div.cloneNode(true);
    x = document.getElementById("survey_form");
    x.appendChild(Question);
  }
</script>
​ ​
<!-- <script>
function addQuestion() {
    Question = document.createElement("input")
    x = document.getElementById("survey_form")
    x.appendChild(Question)}
    </script> -->
