<title>Teacher Survey Creator</title>
<link
  rel="stylesheet"
  href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

{% assets "home_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% assets "home_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<body>
  <div class="testing123">
<h1 class="teacher-survey-creator-title">Creat a new survey</h1>

<form id="survey_form" action="{{url_for('teachers.create')}}" method="POST">
  Survey Topic <br />
  <div class="dropdown">
    <select name="topic">
      <option value="Mathematics">Mathematics</option>
      <option value="History">History</option>
      <option value="Geography">Geography</option>
      <option value="Science">Science</option>
      <option value="Language">Language</option>
    </select>
    <div></div>
  </div>
  <div id="duplicater">
    Question:
    <input type="text" name="Question_1" placeholder="Type here.." />
    Correct answer:
    <input type="text" name="Answer_1" placeholder="Type here.." />

    <button id="teacher-submit-button" type="submit">SUBMIT</button><br />
  </div>
</form>

<button onclick="addQuestion()">Add Question</button>
  


<script>
  function addQuestion() {
    question = document.getElementById("duplicater");
    clone = div.cloneNode(true);
    x = document.getElementById("survey_form");
    x.appendChild(Question);
  }
</script>

</body>
<!-- <script>
function addQuestion() {
    Question = document.createElement("input")
    x = document.getElementById("survey_form")
    x.appendChild(Question)}
    </script> -->
