<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Survey</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="/project_web/static/css/custom.scss" /> -->

    {% assets "home_css" %}
    <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %} {% assets "home_js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <link
      href="https://fonts.googleapis.com/css?family=Cabin+Sketch:700&display=swap"
      rel="stylesheet"
    />

    <!--===============================================================================================-->
  </head>

  <body>
    <script></script>
  </body>
</html>
