{% assets "home_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% assets "home_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<h1>Survey</h1>
<h1>{{survey[0].id}}</h1>
<h1>Welcome to the survey {{survey[0].topic}}!</h1>

<div class="student_survey"></div>
<!-- <form action="{{url_for('surveys.view')}}">
  <button type="submit" class="btn btn-primary" onclick="getSurvey()">
    Get Survey!
  </button>
</form> -->

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"
></script>
<script>
  student_survey = document.getElementsByClassName("student_survey");
  function getSurvey() {
    //   $.ajax({
    //     type: "GET",
    //     headers: {
    //       "Content-type": "application / json"
    //     },
    //     url: "{{url_for('surveys.view')}}",
    //     data: JSON.stringify(data),
    //     success: response => {
    //       alert(response);
    //     }
    //   });
    //   console.log();
  }
</script>
