{% assets "home_css" %}
<link rel="stylesheet" href="{{ ASSET_URL }}" />
{% endassets %} {% assets "home_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<h1>Survey</h1>

<div class="student_survey"></div>
<button type="button" class="btn btn-primary" onclick="getSurvey()">
  Get Survey!
</button>

<script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"
></script>
<!-- <script>
  function getSurvey() {
    $.ajax({
      type: "GET",
      headers: {
        "Content-type": "application / json"
      },
      url: "{{url_for('surveys.view')}}",
      data: JSON.stringify(data),
      success: response => {
        alert(response);
      }
    });
    console.log();
  }
</script> -->
